sudo: false
language: erlang
script: "make all"

otp_release:
   - 19.1
   - 19.0
   - 18.3
   - 18.1
   - 17.4
   - 17.1
   - 17.0
   - R16B03-1
   - R16B03
   - R16B02
   - R16B01

cache:
   directories:
   - .plt
